#hero {
  height: 800px;
  background-image: url("../../asset/herosection/bgImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero h1 {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}

#hero h1 span {
  color: #f47421;
}

#hero h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

.head_line {
  color: #f47421;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0px;
}
.inner_head_line{
  font-size: 48px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
}
.inner_paragraph_head {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.inner_paragraph {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.main_content {
    /* right: 53px; */
}
.main_button{
  font-size: 18px;
  font-weight: 700;
}
.inner_check_Content {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    color: black;
}

.image_position {
    /* width: -webkit-fill-available; */
    position: absolute;
    /* right: 0; */
    /* transform: translate(opx, 0px); */
    /* height: -webkit-fill-available; */
}



/* 
@media only screen and (min-width: 1536px)  and (max-width: 1600px)  {
.container_width
{
  max-width: 1318px;
}
}

@media only screen and (min-width: 1536px)  and (max-width: 1601px)  {
  .container_width
  {
    max-width: 1318px;
  }
  } */