.main_content {
  margin: -12px;
}
#hero {
  height: 800px;
  background-image: url("../../asset/herosection/bgImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  text-align: left;
}

#hero h1 span {
  color: #f47421;
}

#hero h2 {
  font-size: 24px;
  font-weight: 500;

  text-align: left;
}

.head_line {
  color: #f47421 !important;
    font-size: 18px;
    font-weight: 700;

    letter-spacing: 0px;
}
.inner_head_line{
  font-size: 48px;
  font-weight: 700;

  letter-spacing: 0px;
}
.inner_paragraph_head {
  font-size: 30px;
  font-weight: 400;

}

.inner_paragraph {
    font-size: 18px;
    font-weight: 500;
    color: black;
}


.graphic_button{
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #f47421;
  border: 0;
  border-radius: 5px;
}
.graphic_button:hover{
  background-color: #f76300;
}
.appisoft_button{
  font-size: 18px;
  font-weight: 700;
  background-color: #f47421;
  border: 0;
  padding: 31px;
  border-radius: 7px;
}
.appisoft_button:hover{
  background-color: #f16100;
}


.image_position {
    display: inline-block;
    vertical-align: top;
    position: sticky !important;
    top: 200px;
}

@media only screen and (min-width: 1200px) and (max-width: 1280px)  {
  .inner_head_line{
    font-size: 42px;
  }
  .inner_paragraph_head {
    font-size: 27px;
}
.head_line {
  color: #f47421 !important;
  font-size: 22px;
}
}

@media only screen and (min-width: 0px) and (max-width:992px)  {
.main_content {
  width:auto;
  margin: 0px 0px 0px 0px;
}
.main_content p br {
  display: none;
}
.inner_paragraph {
  text-align: justify;
}
.inner_paragraph_head {
  font-size: 21px;
}
.graphic_button {
  font-size: 15px;
  padding: 5px 12px;
}
}
@media only screen and (min-width: 576px) and (max-width:768px)  {
  .graphic_button {
    font-size: 15px;
    padding: 8px 19px 8px 14px !important;
}

  .inner_paragraph {
    font-size: 15px;
    font-weight: 600;
}
  .inner_paragraph_head {
    font-size: 21px;
    font-weight: 600;
}

  #hero {
    height: 500px !important;
}
#hero h2 {
  font-size: 21px;
}
#hero h1 {
  font-size: 38px !important;
}
.graphic_button {
  padding: 12px 19px 12px 19px;
}
}
@media only screen and (min-width: 0px) and (max-width:576px)  {
  #hero {
    height: 520px !important;
        padding: 17px;
}
#hero br{
  display: none;
}
  #hero h1 {
    font-size: 35px !important ;
  }
  #hero h2 {
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    text-align: justify;
}
  .graphic_button {
    font-size: 15px;
    padding: 9px 12px;
}
.head_line {
  color: #f47421 !important;
}
}