.inner_banner {
  background: linear-gradient(
    104deg,
    rgb(236 99 13 / 61%) 0%,
    rgba(255, 86, 0, 0.9023984593837535) 104%
  );
  padding: 112px 0px 70px 0;
}
.inner_banner h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  text-align: center;
  letter-spacing: -2px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0px 0 30px 0;
}
section.ict-sec-one {
  display: block !important;
}
.my_wrap {
  display: flex !important;
}
.business-commun-text {
  padding: 40px 0 0 302px;
  width: 50%;
}
.business-commun-text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
  padding: 30px 100px 20px 0px;
  margin: 0px 0px 0px 0px;
}
.business-commun-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #0b0d17;
  padding: 0px 100px 30px 0px;
  margin: 0px 0px 0px 0px;
}
.business-commun-text button {
  background-color: #f47421;
  border-radius: 6px;
  padding: 12px 32px 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  color: #ffffff;
  border: none;
}
.commun-img-area {
  width: 50%;
}
.commun-img-area img {
  width: 100%;
  margin-top: 0px;
}
section.box_sect {
  background: linear-gradient(
    104deg,
    rgb(236 99 13 / 61%) 0%,
    rgba(255, 86, 0, 0.9023984593837535) 104%
  );
  /* padding: 40px 0px 50px 0px; */
  height: 894px;
}
.box_sec_enterprice-heading-2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 39px 0px;
}
.teams {
  margin: 30px 0px;
}
.box_sec_enterprice-paragraph.tmm {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.we-got-image {
  width: 18%;
}
.we-got-content p {
  font-weight: 500;
  font-size: 20px;
  color: #0b0d17;
  padding: 0;
  margin: 0;
}
.we-got-area {
  margin: -129px 0 0 0 !important;
  column-gap: 45px;
  padding: 50px 80px !important;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.we-got-content button {
  background-color: #f47421;
  border-radius: 6px;
  padding: 12px 32px 12px 32px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  margin: 35px 0 0 0;
}
.mobile-development {
  padding: 70px 0 0 0;
}
.mobile-development-area {
  display: flex;
  justify-content: space-between;
}
.mobile-development1 {
  width: 50%;
  background: rgba(174, 121, 217, 0.05);
  border-radius: 12px;
  /* padding: 40px 50px 40px 40px; */
}
.mobile-development1 p {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #0b0d17;
  margin: 49px 0px;
}
.mobile-development1 button {
  background-color: #f47421;
  border-radius: 6px;
  padding: 12px 32px 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  color: #ffffff;
  border: none;
}
.mobile-development2 {
  width: 40%;
}
.mobile-development2 img {
  width: 100%;
  border-radius: 12px;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}
header.inner_head_line.text-center {
  font-size: 45px;
  font-weight: 600;
}
@media only screen and (min-width: 1095px) and (max-width: 1600px) {
  .business-commun-text {
    padding: 0px 20px 35px 96px;
    width: 48%;
  }
  .business-commun-text h2 {
    padding: 70px 100px 20px 0px;
  }
  .commun-img-area img {
    width: 100%;
    margin-top: 53px;
  }
}
@media only screen and (min-width: 1095px) and (max-width: 1280px) {
  .box_sec_enterprice-heading-2 {
    font-size: 37px;
  }
  section.box_sect {
    height: 814px;
  }
  .we-got-content button {
    padding: 9px 25px 9px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1095px) {
  .business-commun-text {
    padding: 50px 0 50px 56px;
    width: 71%;
  }
  .commun-img-area img {
    margin-top: 50px;
  }
  .box_sec_enterprice-heading-2 {
    font-size: 30px;
    padding: 22px 0px;
  }
  .box_sec_enterprice-paragraph.tmm {
    font-size: 18px;
    line-height: 21px;
  }
  section.box_sect {
    height: 763px !important;
  }
  .we-got-image {
    width: 35%;
  }
  .mobile-development2 {
    width: 45%;
    align-self: center !important;
  }
  .mobile-development1 p {
    font-size: 18px;
    line-height: 29px;
    margin: 34px 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .my_wrap {
    flex-direction: column;
  }
  .business-commun-text {
    padding: 0;
    width: 89%;
    margin: 0 auto;
  }

  .commun-img-area {
    width: 89%;
    margin: 0 auto;
  }
  .box_sec_enterprice-heading-2 {
    font-size: 31px;
  }
  .box_sec_enterprice-paragraph.tmm {
    font-size: 20px;
    line-height: 24px;
  }
  section.box_sect {
    height: 800px;
  }
  .we-got-area {
    padding: 33px 49px !important;
  }
  .we-got-image {
    width: 40%;
  }
  .we-got-content p {
    font-size: 18px;
  }
  .mobile-development-area {
    width: 96%;
    margin: 0 auto;
  }
  .mobile-development2 {
    width: 40%;
    align-self: center;
  }
  .mobile-development1 p {
    margin: 25px 0px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .my_wrap {
    flex-direction: column !important;
  }
  header.inner_head_line.text-center {
    font-size: 31px;
    font-weight: 600;
    margin-top: 22px;
}
  .business-commun-text {
    padding: 0;
    width: 89%;
    margin: 0 auto;
  }
  .commun-img-area {
    width: 89%;
    margin: 0 auto;
  }
  .box_sec_enterprice-heading-2 {
    font-size: 25px;
  }
  .box_sec_enterprice-paragraph.tmm {
    font-size: 18px;
    line-height: 24px;
  }
  section.box_sect {
    height: 739px;
}
  .we-got-area {
    padding: 33px 49px !important;
    flex-direction: column;
  }
  .we-got-image {
   margin-bottom: 22px;
    width: 40%;
  }
  .we-got-content p {
    font-size: 18px;
  }
  .mobile-development-area {
    display: block;
    margin: 0 auto;
}
.mobile-development1 {
  width: 100%;
}
.mobile-development2 {
  width: 100%;
  align-self: center;
  margin: 22px 0px;
}
  .mobile-development1 p {
    margin: 25px 0px;
  }
  .business-commun-text p {
    padding: 0 0 30px 0 !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 567px) {
  .inner_banner h1 {
    font-size: 40px;
  }
  .inner_banner {
    padding: 22px 0px 1px 0;
  }
  .my_wrap {
    flex-direction: column;
  }
  .business-commun-text h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .business-commun-text p {
    padding: 0px 0px 30px 0px;
      font-size: 17px;
      font-weight: 500;
      line-height: 26px;
      text-align: justify;
  }
  .business-commun-text {
    padding: 0;
    width: 89%;
    margin: 0 auto;
  }
  .business-commun-text button {
    padding: 7px 18px 7px 14px;
    font-size: 16px;
  }
  .commun-img-area {
    width: 89%;
    margin: 0 auto;
  }
  .box_sec_enterprice-heading-2 {
    font-size: 19px;
    padding: 16px 0px;
  }
  .box_sec_enterprice-paragraph.tmm br{
    display: none;
  }
  .box_sec_enterprice-paragraph.tmm {
    font-size: 18px;
    line-height: 18px;
  }
  section.box_sect {
    height: 600px;
  }
  .we-got-area {
    display: grid;
    padding: 33px 49px !important;
  }
  .we-got-image {
    width: 40%;
  }
  .we-got-content p {
    font-size: 18px;
    margin-top: 22px;
  }
  .we-got-content button {
    padding: 6px 15px 6px 15px;
  }
  .mobile-development {
    padding: 33px 0 0 0;
  }
  .mobile-development-area {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .mobile-development1 {
    width: 100%;
  }
  .mobile-development1 button {
    padding: 6px 16px 6px 16px;
  }
  .mobile-development2 {
    width: 100%;
    align-self: center;
    margin: 22px 0px;
  }
  .mobile-development1 p {
    margin: 25px 0px;
  }
  header.inner_head_line.text-center {
    font-size: 31px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 464px){
  section.box_sect {
    height: 790px;
  }
}