
.service_text{
    font-size: 32px;
    font-weight: 700;
}
.service_para{
    font-size: 18px;
    font-weight: 600;
    text-align: -webkit-center;
}
.card_bg{

    box-shadow:0px 0px 37px -15px rgb(143, 143, 143);
    border-bottom: 9px solid #f47421;
}
.ourService{
    font-size: 48px;
    font-weight: 700;

}
.gap_card{
    column-gap:48px;
}

.card_bg:hover{
    box-shadow:0px 0px 37px -15px rgb(143, 143, 143);
    border-bottom: 9px solid #f47421;
    background-color: #f47421;
}

.section-four{
    justify-content:center;
    align-items:center;
    padding:30px 0px 30px 0px;
}
.why-choose-us-img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.six-way-help-box {
    text-align: center;
}
.six-way-help-box h5 {
    color: #f47421;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.97px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}
.six-way-help-box h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 61.25px;
    color: #000000;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
}
.six-way-help-box ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    /* justify-content: center; */
    padding: 0px 0px 0px 0px;
}
.six-way-help-box li {
    padding: 28px 0px 28px 0px;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    text-align: -webkit-center;
}
.six-way-help-box p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25.52px;
    color: #18191F;
    padding: 24px 37px 0px 37px;
}
.why-choose-us-img img {
    margin: -120px 0px 55px 0px;
    filter: drop-shadow(0px 64px 64px rgba(0, 0, 0, 0.05));
    border-radius: 24px;
}
.six-way-help-box li:hover {
    box-shadow: 2px 2px 12px 2px #eee;
}
.clr {
    clear: both;
}

.inner_service_para {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
}


.card_bg:hover .service_text{
    color: white !important;
}
.card_bg:hover .service_para{
    color: white !important;
}

.card_bg:hover .main_button {
    background: #fff !important;
    color: #f47421 !important;
}
.card_bg:hover .service-bg-Img img {
    /* background: #fff !important; */
}

.service-bg-Img{
    background-image: url('../../asset/header//img11.png');
}
.card_bg:hover .service-bg-Img{
    background-image: url('../../asset/header//img12.png');
}

@media only screen and (min-width: 1200px) and (max-width: 1280px)  {
    .service_para {
        font-size: 14px;
    }
    .service_text {
        font-size: 27px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 0px) and (max-width:992px)  {
    .six-way-help-box p {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 0px) and (max-width:768px)  {
    .six-way-help-box ul {
        display: grid;
        grid-template-columns: auto;
        margin: 0px;
    }
    .six-way-help-box p {
        font-size: 22px !important;
    }
    .section-five {
        text-align: center;
        background-color: #f4f5f7;
        padding: 17px 0px 70px 0px;
    }
    .Our-clients-box ul {
        display: grid;
          grid-template-columns: auto !important;
        /* grid-template-columns: 148px  auto !important; */
        /* grid-template-columns: 148px 121px 112px !important; */
    }
}