.col-md {
  flex-basis: 1;
  flex-grow: 1;
  width: fit-content;
}
.service_para {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-align: justify;
  word-spacing: 1px;
}
.service_button {
  background-color: #f47421;
  font-weight: 700;
}
.card-boxes:hover .service_text {
  color: white !important;
}
.card-boxes:hover .service_para {
  color: white !important;
}
.card-boxes.service_button {
  background: #fff !important;
  color: #f47421 !important;
}
.card-boxes:hover {
  background: linear-gradient(47deg, rgb(255 86 0 / 95%) 53%, rgb(255 120 36 / 84%) 88%) !important;
}

.card-boxes:hover .service-bg-Img {
  margin-top: 16px;
  background-image: url("../../asset/header/img12.png");
}
.card-boxes {
  box-shadow: 0px 0px 18px 10px #bdbdbd57;
  margin: 0 auto 38px auto;
}
.card-boxes:hover .service_button {
  background-color: #ffffff !important;
  color: #f47421 !important;
}

.service-bg-Img {
  margin-top: 16px;
  background-image: url("../../asset/header/img11.png");
}
.service_text {
  font-size: 32px;
  font-weight: 700;
}

.ourService {
  font-size: 48px;
  font-weight: 700;
}

/* .card-boxes :hover {
  background-color: #f47421;
} */

.section-four {
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}
.why-choose-us-img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.six-way-help-box {
  text-align: center;
}
.six-way-help-box h5 {
  color: #f47421;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.97px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}
.six-way-help-box h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 61.25px;
  color: #000000;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
}
.six-way-help-box ul {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  padding: 0px 0px 0px 0px;
}
.six-way-help-box li {
  padding: 28px 0px 28px 0px;
  border-bottom: 2px solid #f2f2f2 !important;
  border-right: 2px solid #f2f2f2 !important;
  text-align: -webkit-center;
}
.six-way-help-box p {
  font-weight: 700;
  font-size: 20px;
  color: #18191f;
  padding: 24px 37px 0px 37px;
}
.why-choose-us-img img {
  margin: -120px 0px 55px 0px;
  filter: drop-shadow(0px 64px 64px rgba(0, 0, 0, 0.05));
  border-radius: 24px;
}
.six-way-help-box li:hover {
  box-shadow: 2px 2px 12px 2px #eee;
}
.clr {
  clear: both;
}

.six_images_grid {
  column-gap: 38px;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .six-way-help-box li {
    border-bottom: 2px solid #f2f2f2 !important;
    border-right: 2px solid #f2f2f2 !important;
  }
  .service_para {
    font-size: 14px;
  }
  .service_text {
    font-size: 27px;
    font-weight: 700;
  }
  .service_button {
    font-size: 13px !important;
  }
  .card-boxes {
    box-shadow: 0px 0px 18px 10px #bdbdbd57;
    margin: 0 auto 38px auto;
  }
  .col-md {
    flex-basis: 1;
    flex-grow: 1;
    width: fit-content;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .service_para {
    text-align: justify;
    word-spacing: -1px;
}
.six-way-help-box li {
  border-bottom: 2px solid #f2f2f2 !important;
  border-left: 2px solid #f2f2f2 !important;
}
  .six-way-help-box p {
    font-size: 15px !important;
  }
  .ourService {
    font-size: 35px !important;
  }
  .six-way-help-box h2 {
    font-size: 36px;
  }
  .card-boxes {
    box-shadow: 0px 0px 18px 10px #bdbdbd57;
    margin: 0 0 50px 0;
  }
  .col-md {
    flex-basis: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .service_button {
    padding: 12px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .six-way-help-box li {
    border-right:none !important;
  }
  .card-boxes {
    box-shadow: 0px 0px 18px 10px #bdbdbd57;
    margin: 0px 70px 36px 70px;
    padding: 0px 34px;
  }
  .card-boxes .service_button {
    padding: 8  px 12px !important;
  }
  .col-md {
    flex-basis: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .service_text {
    font-size: 28px;
  }
  .service_para {
    font-size: 19px;
    text-align: justify;
    word-spacing: 2px;
  }
  .ourService {
    font-size: 36px;
    font-weight: 700;
  }
  .six-way-help-box ul {
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
  }
  .six-way-help-box p {
    font-size: 22px !important;
  }
  .section-five {
    text-align: center;
    background-color: #f4f5f7;
    padding: 17px 0px 70px 0px;
  }

  .six-way-help-box h2 {
    font-size: 38px;
  }
  .Our-clients-box ul {
    display: grid;
    grid-template-columns: auto !important;
  }
 
}
@media only screen and (min-width: 0px) and (max-width: 576px) {
  .six-way-help-box li {
    border-right:none !important;
  }
  .card-boxes {
    box-shadow: 0px 0px 18px 10px #bdbdbd57;
    margin: 0px 20px 36px 20px;
  }
  .six-way-help-box ul {
    grid-template-columns: auto;
  }
  .six-way-help-box h2 {
    font-size: 31px;
  }
  .service_para {
    font-size: 15px;
    text-align: justify;
    word-spacing: -1px;
  }
  .service_text {
    font-size: 22px;
  }
  .ourService {
    font-size: 30px;
  }
}
