.tile-boxes {
    box-shadow: 0px 0px 18px 10px #bdbdbd57;
}
#titleboxx {
    margin: 12px 18px;

}
#titleboxx:hover .bg_sub_banner{
    background-color: white;
    color: #f47421;
    border: 1px solid  #f47421;
}
#titleboxx:hover .bg_sub_banner h1{

    color: #f47421;
}

#titleboxx:hover .subs_btn{
    background-color: white !important;
    color:#f47421;
}
.subs_btn{
    background-color: #f47421 !important;
    font-weight: 700;
}

.rtx-h {
    background-color: #f57e30;
}
.bg_sub_gap{
    column-gap: 27px;
}
.subscription_para {
    font-size: 18px;
    font-weight: 600;
    text-align: -webkit-start;
}

.bg_sub_banner {
    background-color: #f47421;
}

.bg_sub_banner h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
}

.sub_title {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.sub_title span {
    color: #f47421;
    font-size: 18px;
    font-weight: 700;
}
.card_bg:hover{
    background: linear-gradient(47deg, rgb(255 86 0 / 95%) 53%, rgb(255 120 36 / 84%) 88%) !important;
}
.card_bg:hover h1{
    color: white;
}
.card_bg:hover .subscription_para{
    color: white !important ;
}
.card_bg:hover i{
    color: white !important ;
}
.card_bg:hover .sub_title span{
    color: white !important ;
}



@media only screen and (min-width: 576px) and (max-width:768x)  {
    #titleboxx {
        margin: 12px 60px;
    
    }
}
