/* .hero-img {
    position: relative;

} */
.hero-img img{
width: 100%;

}
.secnd-section-abt {
    margin-bottom: 70px;
}
.two-sctn {
    box-shadow: 0px 24px 94px 0px #0000001a;
    display: flex;
    padding: 60px;
    position: relative;
    background: #fff;
    margin-top: -158px;
    border-radius: 20px;
}
.two-sctn .appie-group-text-area.img-sctn {
    position: sticky;
    display: block;
    top: 100px;
    align-self: flex-start;
}
.img-sctn h5 {
    padding: 0;
}
.appie-group-text-area h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #f47421;
    margin: 0px 0px 8px 0px!important;
    padding: 50px 0px 0px 0px;
}
.appie-group-text-area h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 61.25px;
    color: #000000;
    margin: 0px 0px -242px 0px!important;
}
img.img-unlmtd {
    margin-top: -213px;
}
.para-sctn {
    width: 80%;
}
.para-sctn p {
    font-size: 18px;
    color: #0B0D17;
    font-family: 'Space Grotesk';
    font-style: normal;
    line-height: 28px;
    font-weight: 400;
    padding: 40px;
    margin: 0;
}
.para-sctn p a {
    color: #f47421;
}
/* a {
    color: #f47421;
} */
.thrd-sctn-abt {
    background: linear-gradient(70deg, rgba(255,86,0,0.9023984593837535) 40%, rgba(255,120,36,0.7231267507002801) 81%);
    padding: 50px 0px 140px;
    text-align: center;
}
.thrd-sctn-abt h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    color: #fff;
    line-height: 61px;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    text-transform: capitalize;
}
.thrd-sctn-abt p {
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}

ul.dedcted {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: -90px;
    grid-row-gap: 18px;
    /* padding: 0; */
}
ul.dedcted li {
    height: fit-content;
}
li.hdd-li {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: fit-content;
}
.hdd-li h2 {
    color: #f47421;
    padding: 30px;
    margin: 0;
    /* line-height: 50px; */
    font-size: 40px;
    font-weight: 600;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
li.img-li img {
    width: 100%;
    border-radius: 10px;
}
img {
    height: auto;
    max-width: 100%;
}

.f-img {
    margin-top: -180px;
}
li.para-li {
    margin-top: -116px;
}
li.para-li p {
    /* margin: 0; */
    /* line-height: 28px; */
    filter: hue-rotate(105deg);
    background: url('../../../../asset/about/bgfadeimge.jpg');
    padding: 59px 47px;
    border-radius: 10px;
    color: #0B0D17;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}
li.img-li.s-img {
    margin: 9px 0 0 0;
}
.fifth-sctn-abt {
    display: flex;
    background: linear-gradient(104deg, rgb(236 99 13 / 61%) 0%, rgba(255,86,0,0.9023984593837535) 104%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    align-items: center;
    margin: 70px 0 183px 0;
    flex-wrap: wrap;
}
.img-wide-sctn {
    flex: 1 1 47%;
    max-width: 47%;
    margin: 35px 0 -133px 0;
}
.img-wide-sctn img {
    width: 100%;
}
.txt-wide-sctn {
    flex: 1 1 48%;
    max-width: 48%;
    margin-left: -22px;
}
.txt-wide-sctn h2 {
    font-weight: 700;
    font-size: 48px;
    /* line-height: 61.25px; */
    color: #ffffff;
    margin: 0px 0px 0px 0px;
}
.txt-wide-sctn p {
    font-size: 20px;
    line-height: 36px;
    color: #fff;
}
.sxth-sctn-abt {
    margin: 150px 0;
    clear: both;
    box-sizing: border-box;
}
.digi-main {
    display: flex;
    align-items: center;
}
.digi-head {
    flex: 1 1 48%;
    max-width: 40%;
}
.digi-head h2 {
    font-size: 48px;
    color: #000;
    font-weight: 600;
}
.digi-para {
    flex: 1 1 48%;
    max-width: 55%;
}
.digi-para p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #0B0D17;
}

