*{
    /* border: 1px solid black; */
}

/* new class */
.site-header {
background-color: #f47421;
  padding: 10px 0px 20px 0px;
  position: relative;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.head-one {
  width: 50%;
}
.head-two {
  width: 100%;
}

.head-two ul {
  display: flex!important;
  list-style: none;
  column-gap: 70px;
  justify-content: right;
}
.head-three {
  display: flex;
  align-items: center;
}
.nav-bar-sec {
  background: #FFFFFF;
  box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
  margin: 13px 0px -55px 0px;
}
.nav-bar-sec ul {
  display: flex;
  column-gap: 35px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  list-style: none;
}
.nav-bar-sec li a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000!important;
  text-decoration: none;
}
.nav-bar-sec li a:hover {
color: #ff6600 !important;
}


.offcanvas-backdrop.show {
    opacity: .5;
}
.upper_navbar {
    z-index: 999;
    background-color: #f47421;
}

.upper_navbar_text {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
}
.inner_navbar {
    z-index: 999;
    left: 0;
    right: 0;
    transform: translate(0px, 118px);
    background: #f47421;
    height: 35px;
    top: 0;
}

.navbar_linkFont {
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    cursor: pointer;
    color: black;
}

.parent_link {
    position: relative;
    /* width: 133px; */
    width: fit-content;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hover_box {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.parent_link:hover .navbar_linkFont {
    color:#f47421;
    cursor: pointer;
}

.inner_linkFont:hover{
    color:#f47421;
    cursor: pointer;
}

.active:visited{
  color:#f47421 !important;
}
.main_button {
    font-weight: 700;
    background-color:#f47421;
    border-radius: 6px;
    padding: 12px 30px 12px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    border: none;
    cursor: pointer;
}
.main_button:hover {
    background-color:#ff6600 !important;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    justify-content: left;
    align-items: left;
    background: #fff;
    top: 28px;
    width: 236px;
    line-height: 2.5rem;
    padding: 20px 10px;
    z-index: 999;
    box-shadow: 1px 0px 7px 0px #ccc;
    border-radius: 6px;
    margin: 0px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media only screen and (min-width: 992px) and (max-width:1024px)  {
    .nav-bar-sec li a {
      font-size: 11px;
  }
  .navbar_linkFont {
    font-size: 11px !important;
}

  }
  @media only screen and (min-width: 992px) and (max-width:1200px)  {
    .inner_navbar {
      transform: translate(0px, 140px);
  
  }
    .upper_navbar_text {
        font-size: 18px;
     
    }
    .main_button {
        padding: 12px 19px 12px 19px;
        font-size: 14px !important;
    }
    .navbar_linkFont {
        font-size: 16px;
    }
    .main_button {
      padding: 5px 11px 5px 11px;
      font-size: 10px !important;
  }
  .upper_navbar_text {
    font-size: 14px;
}
  }
  @media only screen and (min-width: 0px) and (max-width:576px)  {
    .container{
      width: -webkit-fill-available;
    }
    #hero {
      height: 484px;
  }
    .icon_close{
        font-size: 22px;
    }
    .inner_navbar {
        transform: translate(0px, 165px) !important;
        background: white;
     
    }
    .mobile_main_button {
        background:transparent !important;
         color:#f47421 !important;
        font-size: 26px !important;
        padding: 0 !important;
        font-weight: 700;
    }   
    .mobile_main_button:hover{
         color:#080808 !important;
        font-size: 26px !important;
        padding: 0 !important;
        font-weight: 700;
    }  
    .navbar_linkFont {
        font-size: 26px;
    }
    .widthlink{
        width: max-content;
    }
    .upper_navbar_text {
        font-size: 17px;
    }
    .bar_img{
      background-color: #fff;
      border-radius: 3px;
    }
    .bar_img i{
        color:#f47421 !important;
        font-size: 22px;
    }
    .offcanvas-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: auto !important;
        height: 100vh;
        background-color: #989898;
    }
    .offcanvas{
        transition: 0.7s;
    }
 

      h6 {
        font-size: 20px;
        font-weight: 700;
        color: #030303 !important;
      margin-top: 12px;
      }
      .arrow_size{
    font-size: 21px;
      }
      .Our-clients-box ul {
        padding: 22px 29px 6px 67px !important;
        display: table-cell !important;

    }
    .Our-clients-box li{
      margin-top: 14px !important;
    }
  }
  @media only screen and (min-width: 0px) and (max-width:992px)  {
  
    #hero h1 {
      font-size: 45px !important;
    }
    #hero {
      height: 484px !important;
  }
    .bar_img{
        background-color: #fff;
        border-radius: 3px;
      }
      .bar_img i{
          color:#f47421 !important;
          font-size: 22px;
      }
    .offcanvas-backdrop.show {
        opacity: .5;
    }
      .icon_close{
        font-size: 22px;
    }
      .offcanvas{
        transition: 0.7s;
    }
    
      #hero h2 {
        font-size: 22px;
      }
      
      h6 {
        font-size: 20px;
        font-weight: 700;
        color: #030303 !important;
      margin-top: 12px;
      }
      .arrow_size{
    font-size: 21px;
      }

      .accordion {
        border: none;
        margin: auto;
        width: 400px;
      }
      .accordion input {
        display: none;
        transition: 0.7s;
      }
    
      .box {
        position: relative;
        background: white;
          /* height: 64px; */
          transition: all .15s ease-in-out;
      }
      .box::before{
          content: '';
          position: absolute;
          display: block;
          transition: 0.7s;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          pointer-events: none;
      }
     
      header.box {
        background: #00BCD4;
        z-index: 100;
        cursor: initial;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
      }
      header .box-title {
        margin: 0;
        font-weight: normal;
        font-size: 16pt;
        color: white;
        cursor: initial;
      }
      .box-title {
        width: calc(100% - 40px);
        display: inline-block;
        cursor: pointer;
        -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
      }
      .box-content {
        transition: 0.7s;
        width: calc(100% - 40px);
        padding: 13px 16px;
        color:black;
        display: none;
        font-size: 20px;
        font-weight: 700;
        margin-top: 12px;
      }
      .box-close {
        position: absolute;
        height: 64px;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        display: none;
      }
      input:checked + .box {
        height: auto;
        margin: 0px 0;
      }
      input:checked + .box .box-title {
        margin-bottom: 15px !important;
      }
      input:checked + .box .box-content,
      input:checked + .box .box-close {
        display: inline-block;
      }
      .arrows section .box-title {
        transition: 0.7s;
        width: calc(100% - 64px);
        border: none;
      }
      .arrows section .box-title:before {
        transition: 0.7s;
        position: absolute;
        display: block;
        right: -14px;
        top: 0px;
        transition: transform .15s ease-in-out;
        content: "dsdsd";
        background: url("../../asset/header/pngarr.png");
        color: transparent;
        background-size:18px;
        background-position: center;
        background-repeat: no-repeat;
      }
      input:checked + section.box .box-title:before {
        transition: 0.25s ease;
        transform: rotate(210deg);
      }
     

  }

 