.web_inner_banner {
	background: linear-gradient(104deg, rgb(236 99 13 / 61%) 0%, rgba(255,86,0,0.9023984593837535) 104%);
	padding: 112px 0px 70px 0;
}
.web_inner_banner h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 82px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0px 0 30px 0;
}
.testigap{
    background: rgb(255 233 220 / 10%);
    box-shadow: 0 14px 8px 0 rgba(121, 62, 8, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}
.testtitle{
	color: black !important;
}
header.inner_head_line.text-center {
    font-size: 45px;
    font-weight: 600;
}
@media only screen and (min-width: 0px) and (max-width:992px){
.web_inner_banner {
    padding: 22px 0px 1px 0;
}

.web_inner_banner h1 {
    font-weight: 700;
    font-size: 45px;
}
.testimonialPara {
    font-size: 20px !important;
    text-align: justify;
    line-height: 26px;
}
header.inner_head_line.text-center {
	font-size: 30px;
	font-weight: 500;
	margin-top: 12px;
}
}