.footer_top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    padding: 0 0 40px 0;
    padding: 70px 0px 40px 0px;
    margin: 70px 0px 40px 0px;
}
.footer_top ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    column-gap: 52px;
}
.footer_top ul li {
    flex: 1 1 33%;
    max-width: 33%;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.bg_content_footer_gap {
    column-gap: 27px;
}
/* main upper  */
.bg_footer_color {
    background-color: #18191F;
    border-radius: 60px 60px 0px 0px;
}

.footer_info {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffffd5;
}

.inner_footer_info {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.head_links {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.inner_links li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #ffffffd5 !important;
}

.img_para {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.bg_footer_gap{
    column-gap: 73px;
}

.map_width{
width: 50%;
height: 50%;
}
.scroll-up-button {
    position: fixed;
    bottom: 35px;
    right: 51px;
    background-color:#f47421bf;
    color: azure;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    z-index: 999;
  }
/* main start  */
@media only screen and (min-width: 992px) and (max-width: 1280px)   {
    .footer_top ul li {
        display: block;
        text-align: center;
    }
    .footer_top ul li img{
       margin: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px)   {
    .footer_top ul {
     display: block;
        align-items: center;
        margin: 0px;
        padding: 0px;
        row-gap: 52px;
    }
    .footer_top ul li {
       margin-top: 12px;
     max-width: fit-content;
       
    }
    .footer_top {
        padding: 31px 0px 40px 0px;
    }
    .img_para {
        width: fit-content;
    } 
}
@media only screen and (min-width: 0px) and (max-width: 768px)   {
    .footer_top ul {
     display: block;
        align-items: center;
        margin: 0px;
        padding: 0px;
        row-gap: 52px;
    }
    .footer_top ul li {
       margin-top: 12px;
     max-width: fit-content;
       
    }
    .footer_top {
        padding: 31px 4px 40px 0px;
        margin-top: 0px;
    }
    .inner_footer_info {
        text-align: start !important;
    }
    .map_width{
      width: auto;
      height: 200px;
        }
}
/* main end  */

@media only screen and (min-width: 992px) and (max-width:1024px)  {
    .bg_content_footer_gap{
        column-gap: 19px !important;
    }
    .map_width{
        width: auto;
        height: 200px;
          }

}
@media only screen and (min-width: 0px) and (max-width:576px)  {
.inner_footer_info {
    font-size: 15px;
}
}


