.bg_footer_color {
    background-color: #18191F;
    border-radius: 60px 60px 0px 0px;
}

.footer_info {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffffd5;
}

.inner_footer_info {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.head_links {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.inner_links li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #ffffffd5 !important;
}

.img_para {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.bg_footer_gap{
    column-gap: 73px;
}
.bg_content_footer_gap{
    column-gap: 45px;
}


@media only screen and (min-width: 1500px) and (max-width: 1626px)   {
    .bg_content_footer_gap{
        column-gap: 0px !important;
    }

    .bg_footer_gap{
        column-gap: 0px;
    }
    
}

@media only screen and (min-width: 1280px) and (max-width: 1500px)  {
    .bg_content_footer_gap{
        column-gap: 0px !important;
    }
    .bg_footer_gap{
        column-gap: 0px;
    }
    
}