.App {
  text-align: center;
}

*{
  
  font-family: "Space Grotesk", sans-serif;
}
/* 
table {
  border-collapse: collapse;
}

tbody th {
  padding: 4px 15px 4px 0px;
  text-align: right;
}

tbody td {
  border: 1px solid #cccccc;
  padding: 8px 15px 8px 15px;
  text-align: center;
}

.rotated-th {
  height: 110px;
  position: relative;
}

.rotated-th__label {
  bottom: 5px;
  left: 50%;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: center left;
  white-space: nowrap;
} */