.web_inner_banner {
	background: linear-gradient(104deg, rgb(236 99 13 / 61%) 0%, rgba(255,86,0,0.9023984593837535) 104%);
	padding: 112px 0px 70px 0;
	margin-bottom: 32px;
}
.web_inner_banner h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 82px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 22px 0 30px 0;
}
.slider__content3 h5{
	margin-bottom: 22px;
	font-size: 40px;
	font-weight: 700;
}
.slider__content3 h1{
	font-size: 48px;
	font-weight: 700;
}
.slider__content3 span{
	color:  #f47421;
}
.slider__content3 p{
	font-size:22px;
	margin-top: 22px;
}
.btn-list button{
	background-color: #f47421;
    border-radius: 6px;
    Padding: 12px 32px 12px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #ffffff;
    border: none;
}
.owl-stage{
	    margin: 0 auto;
	/* transform: translate3d(160px, 0px, 0px);  */
	width:fit-content;
	/* background: linear-gradient(70deg, rgba(246, 244, 243, 0.84) 40%, rgb(255 120 36 / 0%) 81%); */
	/* padding: 10px 20px; */
	/* box-shadow: 0 0 5px rgba(0,0,0,.5); */
}
.owl-item{
	column-gap: 22px
	
}
.section-title h1{
	font-weight: 700;
	font-size: 48px;
	line-height: 82px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color:#f47421;
	margin:47px 0 0px 0;
}
.section-title h2{
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color:#31302f;
	line-height: 46px;
}
.team-image img {
    margin: 0px auto;
}
.team-content h6 {
    font-size: 19px;
    font-weight: 500;
	color: #f47421;
}
.team-wrapper {
background: linear-gradient(70deg, rgba(246, 244, 243, 0.84) 40%, rgb(255 120 36 / 0%) 81%);
box-shadow: 0 0 5px rgba(0,0,0,.5);
padding: 26px 0px;
}
