.web_inner_banner {
	background: linear-gradient(104deg, rgb(236 99 13 / 61%) 0%, rgba(255,86,0,0.9023984593837535) 104%);
	padding: 112px 0px 70px 0;
	margin-bottom: 32px;
}
.bgborder{
	border-bottom: 3px solid #f47421;
}
.web_inner_banner h1 {
	font-weight: 700;
	font-size: 64px;
	line-height: 82px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 22px 0 30px 0;
}
.slider__content3 h5{
	margin-bottom: 22px;
	font-size: 40px;
	font-weight: 700;
}
.slider__content3 h1{
	font-size: 48px;
	font-weight: 700;
}
.slider__content3 span{
	color:  #f47421;
}
.slider__content3 p {
    font-size: 22px;
    margin-top: 22px;
    font-weight: 500;
}
.btn-list button{
	background-color: #f47421;
    border-radius: 6px;
    Padding: 12px 32px 12px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #ffffff;
    border: none;
}
.parent-container{
	/* box-shadow: 0 14px 8px 0 rgba(121, 62, 8, 0.37); */
	background: radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(190,173,167,0.30015756302521013) 65%);

}
.owl-stage {
	width:56%;
		margin: 0 auto;
}
.owl-item{
    width:100%;
}
.section-title h1{
	font-weight: 700;
	font-size: 48px;
	line-height: 82px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color:#f47421;
	margin:47px 0 0px 0;
}
.section-title h2{
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	letter-spacing: -2px;
	text-transform: capitalize;
	color:#31302f;
	line-height: 46px;
}
.team-image img {
    margin: 0px auto;
}
.team-content {
    font-size: 19px;
    font-weight: 500;
	color: #f47421;
}

.bgcard{
	/* box-shadow: 0 7px 2px 0 rgb(195 195 195); */
    /* background: linear-gradient(360deg, rgb(255 0 0 / 6%) 40%, rgb(255 85 0 / 5%) 81%); */
}
@media only screen and (min-width: 992px) and (max-width:1024px){
	.web_inner_banner h1 {
		font-size: 43px;
	}
.web_inner_banner {
	padding: 35px 0px 1px 0;
}
	.slider__content3 h5 {
		font-size: 27px;
	}
	.slider__content3 h1 {
		font-size: 32px;	
	}
	.slider__content3 p {
		font-size: 20px;
		line-height: 25px;
		text-align: justify;
	}
	.btn-list button {
		Padding: 7px 23px 6px 23px;
		font-size: 16px;
	}
	.section-title h1 {
		font-size: 38px;
		line-height: 55px;
		letter-spacing: -1px;
	}
	.section-title h2 {
		font-size: 37px;
		letter-spacing: -2px;;
		line-height: 35px;
	}
	.owl-stage {
	width: 80%;
	margin: 0 auto;
	}
	.team-wrapper{
		width: max-content;
	}
}

@media only screen and (min-width: 576px) and (max-width:992px){
	.web_inner_banner h1 {
		font-size: 45px;
	}
	.web_inner_banner {
	    padding: 22px 0px 1px 0;
	}
	.slider__content3 h5 {
		margin-bottom: -3px;
		font-size: 34px;
		font-weight: 700;
	}
	.slider__content3 p {
		font-size: 25px;
		margin-top: 10px;
		line-height: 30px;
		text-align: justify;
		font-weight: 400;
	}
	.section-title h1 {
		font-size: 38px;
		margin: 21px 0 0px 0;
	}
	.section-title h2 {
		font-size: 38px;
		line-height: 39px;
	}
	.owl-stage {
		width: 80%;
		margin: 0 auto;
		}
		.team-wrapper{
			width: max-content;
		}
}
@media only screen and (min-width: 0px) and (max-width:576px){
	.section-title h1 {
		font-size: 33px;
		line-height: 44px;
		margin: 30px 0 0px 0;
	}
	.section-title h2 {
		font-size: 27px;
		line-height: 27px;
	}
	.web_inner_banner h1 {
		font-size: 39px;
	}
	.web_inner_banner {
		padding: 1px 0px 1px 0;
	}
	.slider__content3 h1 {
		font-size: 34px;
		font-weight: 500;
	}
	.slider__content3 h5 {
		margin-bottom: 6px;
		font-size: 25px;
	}
	.slider__content3 p {
		font-size: 18px;
		margin-top: 8px;
		text-align: justify;
	}
	.btn-list button {
		Padding: 9px 22px 9px 18px;
		font-size: 16px;
	}
	header.inner_head_line.text-center {
		font-size: 30px;
	}
	.owl-stage {
		width: 80%;
		margin: 0 auto;
		}
		.team-wrapper{
			width: max-content;
		}
}